* {
    background-color: rgb(218, 214, 214);
    margin: 10px;


}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;

}
.octocat1 {
    height: 200px;
    background-color: aqua;
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: space-around;

}
.octocat2 {
    height: 200px;
    background-color: palevioletred;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 20px;
}
.octocat3 {
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    pad: 20px;
    
}
p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px; 
}